.noBorder
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.noBorder :hover
{
    opacity: 0.7;
    display: inline-block;
}

.buttomUpdate
{
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
